<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">Mently.club</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <!-- derective if -->
            {{#if isStatistic}}
                <li class="active"><a href="/statistic">Статистика</a></li>
            {{else}}
                <li><a href="/statistic">Статистика</a></li>
            {{/if}}


            {{#if isAdd}}
                <li class="active"><a href="/add">Добавить время</a></li>
            {{else}}
                <li><a href="/add">Добавить время</a></li>
            {{/if}}

            <!-- {{#if isLogin}}
                <li class="active"><a href="/auth/login#login">Войти</a></li>
            {{else}}
                <li><a href="/auth/login#login">Войти</a></li>
            {{/if}} -->
        </ul>
    </div>
</nav>
<div class="additional-links">
    {{#if isStatistic}}
        <a class="additional-active" href="/statistic">Статистика</a>
    {{else}}
        <a href="/statistic">Статистика</a>
    {{/if}}


    {{#if isAdd}}
        <a class="additional-active" href="/add">Добавить время</a>
    {{else}}
        <a href="/add">Добавить время</a>
    {{/if}}
</div>
