<h3 class="time-adding">Добавить время работы!</h3>

{{#if errors}}
    <div class="errors-list">
            {{#each errors}}
                <div class="error-block">
                    <div class="circle-error"></div>
                    <p>{{msg}}</p>
                </div>
            {{/each}}
    </div>
{{/if}}

<form method="post" class="time-form" novalidate>

    <div class="time">
        <div class="time-block">
            <label for="hours">hours</label>
            <input class="time-input" type="text" name="hours" value="8" id="hours">
        </div>
        <span>:</span>
        <div class="time-block">
            <label for="minutes">minutes</label>
            <input class="time-input" type="text" name="minutes" value="0" id="minutes">
        </div>
    </div>
    <div class="timer">
        {{#each hours}}
            <div class="timer-block timer-block-hours" data-hours="{{this}}">
                <p>{{this}}h</p>
            </div>
        {{/each}}
    </div>

    <div class="timer">
        {{#each minutes}}
            <div class="timer-block timer-block-minutes" data-minutes="{{this}}">
                <p>{{this}}m</p>
            </div>
        {{/each}}
    </div>

    <div class="authors">
        {{#each developers}}
            <div class="author-block" data-author="{{this}}" data-active="0">
                <p>{{this}}</p>
            </div>
        {{/each}}
    </div>

    <input type="hidden" name="developer" value="" id="developer">

    <button type="submit" class="btn btn-primary">Добавить!</button>

</form>
