
<div class="times">
    <div class="developer">
        <p>Ivan</p>
        <span>{{ivan}} часов</span>
        <div class="statistic">
            <span>Сегодня: {{ivanToday}}</span>
            <span>Неделя: <b class="{{isEnoughForIvan}}">{{ivanW}}</b><sub>/{{week}}</sub> <b class="{{isEnoughForIvan}}">({{enoughForIvan}})</b></span>
            <span>Месяц: <b>{{ivan}}</b><sub>/{{month}}</sub> </span>
        </div>
    </div>
    <div class="developer">
        <p>Yaroslav</p>
        <span>{{yara}} часов</span>
        <div class="statistic">
            <span>Сегодня: {{yaraToday}}</span>
            <span>Неделя: <b class="{{isEnoughForYara}}">{{yaraW}}</b><sub>/{{week}}</sub> <b class="{{isEnoughForYara}}">({{enoughForYara}})</b></span>
            <span>Месяц: <b>{{yara}}</b><sub>/{{month}}</sub> </span>
        </div>
    </div>
</div>
